.g-page {
    margin: 20px auto;
    padding-bottom: 40px;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px #9d9d9d;
    overflow: hidden;
}

/** g-header **/
.g-header {
    position: relative;
    padding: 0 100px;
    width: auto;
    height: 260px;
    color: #fff;
    background: #2B32B2;
    background: linear-gradient(to top, #1488CC, #2B32B2);
    overflow: hidden;
}
.g-header::after { /* background */
    position: absolute;
    right: 0px;
    top: 210px;
    z-index: 1;
    content: '';
    width: 10000px;
    height: 10000px;
    background-color: #fff;
    border-radius: 10000px 0 0 0;
}
.g-header > .info {
    position: relative;
    margin-top: 40px;
}
.g-header .author {
    font-size: 46px;
    font-weight: 600;
}
.g-header .age {
    position: absolute;
    bottom: 10px;
    left: 150px;
    font-size: 16px;
}
.g-header > .job {
    margin-top: 16px;
    font-size: 20px;
}
.g-header > .contact {
    margin-top: 16px;
    width: 450px;
    font-size: 18px;
}
.g-header > .head {
    position: absolute;
    right: 100px;
    top: 40px;
    z-index: 10;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0 0 5px #9d9d9d;
    overflow: hidden;
}
.g-header > .head > img {
    width: 200px;
    height: 200px;
}
/** g-header end **/

/** g-content **/
.g-content {
    padding: 0 50px;
    width: auto;
}
.m-container {
    width: 100%;
}
.m-container > .header {
    margin-top: 20px;
}
.m-container > .header > .icon,
.m-container > .header > .title {
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    background-color: #1488CC;
    border-radius: 8px;
}
.m-container > .header > .icon {
    margin-right: 6px;
    width: 40px;
    text-align: center;
}
.m-container > .header > .title {
    padding-left: 30px;
    width: 260px;
    font-size: 20px;
}
.m-container > .container {
    margin: 10px 20px;
    line-height: 36px;
}
/* edu */
.edu_table {
    width: 80%;
}
/* edu end */
/* project */
.m-project .date {
    width: 150px;
}
.m-project .title > a{
    color: #303133;
}
/* project end */
/* skill */
.skill {
    list-style: disc inside;
}
/* skill end */
/* prize */
.prize {
    width: 80%;
}
/* prize end */
/** g-content end **/


/* 浮动 */
.u-fl {
    float: left;
}
.u-fr {
    float: right;
}
/* 清除浮动 */
.u-clear {
    *zoom: 1;
}
.u-clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
/* 特殊样式 */
.u-cursor {
    cursor: pointer;
}
.u-tag { /* 突出 */
    padding: 0 4px;
    margin: 0 2px;
    font-size: 15px;
    border: #DCDFE6 solid 1px;
    border-radius: 5px;
    background-color: #EBEEF5;
}
.u-bold { /* 加粗 */
    font-weight: 800;
}
/* table */
.u-table {
    display: table;
    border-collapse: separate;
}
.u-tr {
    display: table-row;
}
.u-td {
    display: table-cell;
}


/* 大型设备（大台式电脑，1200px 起）设计宽度=1000 */
@media screen and (min-width: 1200px) { 



}

/* 中型设备（台式电脑，992px 起）设计宽度=900 */
@media screen and (min-width: 992px) and (max-width: 1199px) { 
    .g-page {
        width: 900px;
    }
    .prize {
        width: 90%;
    }
}

/* 小型设备（平板电脑，768px 起）设计宽度=700 */
@media screen and (min-width:768px) and (max-width: 991px) { 
    .g-page {
        width: 700px;
    }
    .g-content {
        padding: 0 30px;
    }
    /* g-header */
    .g-header {
        padding: 0 60px;
    }
    .g-header::after {
        display: none;
    }
    .g-header > .info {
        margin-top: 30px;
    }
    .g-header > .head {
        position: absolute;
        right: 60px;
        width: 160px;
        height: 160px;
    }
    .g-header > .head > img {
        width: 160px;
        height: 160px;
    }
    .g-header > .contact > div:first-child {
        float: none;
    }
    .g-header > .contact > div:last-child {
        float: none;
        display: block;
        margin-top: 10px;
    }
    /* g-header end */

    .prize {
        width: 650px;
        margin-left: -20px;
    }
}

/* 超小设备（手机，小于 768px）设计宽度=100% */
@media screen and (max-width: 767px){ 
    .g-page {
        margin: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
    .g-content {
        padding: 0 20px;
    }
    /* g-header */
    .g-header {
        position: static;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 360px;
    }
    .g-header::after {
        display: none;
    }
    .g-header > .info {
        position: static;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .g-header .author {
        font-size: 38px;
        font-weight: 600;
    }
    .g-header .age {
        position: static;
        font-size: 16px;
    }
    .g-header > .job {
        display: none;
    }
    .g-header > .contact {
        width: auto;
    }
    .g-header > .head {
        position: static;
        order: -1;
        width: 160px;
        height: 160px;
    }
    .g-header > .head > img {
        width: 160px;
        height: 160px;
    }
    .g-header > .contact > div:first-child {
        float: none;
    }
    .g-header > .contact > div:last-child {
        float: none;
        display: block;
        margin-top: 6px;
    }
    .g-header > .contact i {
        margin-right: 10px;
    }
    /* g-header end */
    /* g-content */
    .m-container > .header > .title {
        width: 60%;
    }
    /* edu_table */
    .edu_table,
    .edu_table div {
        display: block;
    }
    .edu_table > div {
        position: static;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .edu_table > div > div {
        margin-left: 10px;
    }
    /* edu_table end */
    /* project */
    .m-project {
        border-bottom: 1px solid #DCDFE6;
    }
    .m-project:last-child {
        border: none;
    }
    /* project end */
    /* prize */
    .prize,
    .prize div {
        display: block;
    }
    .prize > div {
        border-bottom: 1px solid #DCDFE6;
    }
    .prize > div:last-child {
        border: none;
    }
    .prize > div > div:nth-child(3) {
        display: none;
    }
    /* prize end */
    /* g-content end */

    .prize {
        width: 100%;
    } /* 还是放不下 */
}

/* 打印 */
@media print {
    .g-page {
        margin: 0;
        width: 1200px;
        border-radius: 0;
        box-shadow: none;
    }
    .g-header::after { 
        top: 185px;
    }
    .g-header > .info {
        margin-top: 30px;
    }
}

